# AWS Profile 
AWS_PROFILE=profile_name
AWS_REGION=us-east-1
GK_SGID=security_group_id

# AWS credentials
AWS_ACCESS_KEY=access_key
AWS_SECRET_ACCESS_KEY=secret_access_key

# API authentication token
GK_AUTH_TOKEN=1234
